<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application>
        <service
            android:name=".BirdsongFirebaseTrigger"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver
            android:name=".BirdsongRepeatTrigger"
            android:directBootAware="true"
            android:exported="false"
            tools:ignore="UnusedAttribute" />
        <activity
            android:name=".BirdsongPermissionActivity"
            android:exported="false"
            android:theme="@style/BirdsongPermissionTheme"
            tools:ignore="DiscouragedApi" />
    </application>
</manifest>